<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Property Functionality</title>
  
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Property Manager!</h1>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 col-lg-8">
        <div class="row">
          <label>Bedrooms
          <input ng-model="vm.searchObject.bedrooms"></input>
          </label>
        </div>
        <div class="row">
          <label>Bathroom
          <input ng-model="vm.searchObject.bathrooms"></input>
          </label>
        </div>
        <div class="row">
          <label>Min. Rent
          <input ng-model="vm.searchObject.minRent"></input>
          </label>
        </div>
        <div class="row">
          <label>Max Rent
          <input ng-model="vm.searchObject.maxRent"></input>
          </label>
        </div>
        <div class="row">
          <label>City
          <input ng-model="vm.searchObject.city"></input>
          </label>
        </div>
        <div class="row">
          <button ng-click="vm.propertySearch(vm.searchObject)">Search</button>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" ng-show="vm.signedIn" ng-model="vm.userObject.userName" placeholder="Name">
            <input type="text" class="form-control" ng-show="vm.signedIn" ng-model="vm.userObject.email" placeholder="Email">
          </div>
          <button type="submit" ng-click="vm.login(vm.userObject)" ng-show="vm.signedIn" class="btn btn-default">Log In</button>
          <button type="submit" class="btn btn-default" ng-show="vm.signedIn" ui-sref="register">Register</button>
          <button type="submit" class="btn btn-default" ng-show="vm.propertyOwner" ui-sref="addProperty">Add Property</button>
        </form>
      </div>
      </div>

      <!-- End of Row -->

       <div class="row">

        <div class="panel-body">

          <ol class="list-group" ng-show="vm.showResults" ng-repeat="property in vm.foundProperty">
            <li class="list-group-item">Bedrooms: {{property.bedrooms}}</li>
            <li class="list-group-item">Bathrooms: {{property.bathrooms}}</li>
            <li class="list-group-item">Rent: {{property.rentMonth}}</li>
            <li class="list-group-item">Address: {{property.address1}}</li>
            <li class="list-group-item">City: {{property.city}}</li>
          </ol>
      </div>
    </div>
  <!--end of main container div -->

</body>

</html>